<style>
  .toLeft12px {
    text-align: left;
    font-size: 12px;
  }
  .toRight12px {
    text-align: right;
    font-size: 12px;
  }
  .only12px {
    font-size: 12px;
  }
  .justify12px {
    font-size: 12px;
    text-align: justify;
    text-justify: inter-word;
  }
</style>
<body>
{% block all %}
  <div class="container">
    <div class="section">
      <div class="row center">
        <!-- Todos los F2 -->
        <div class="col s6">
          <div class="card hoverable">
            <!-- Contenido de la carta, info del f2 creado-->
            <div class="card-content grey">
              <!-- Titulo de la carta -->
              <span class="card-title center"><h1>F2</h1></span>
                <!-- Listado de cartas con los f2 de los alumnos -->
                <div class="container">
                  <!-- Se hace un display de cartas con los nombres y apellidos incluyendo curso de los alumnos con F2-->
                  {% for forms2 in todos_los_f2 %}
                  <div class="card darken-1" style="background-color: royalblue">
                    <!-- Contenido -->
                    <div class="card-content white-text">
                      <!-- Título -->
                      <span class="card-title">{{forms2.alumno.nombre|title}} {{forms2.alumno.apellido|title}} de {{forms2.alumno.curso}}</span>
                    </div>
                    <!-- Botón que abre la modal para ver el formulario -->
                    <div class="card-action">
                      <a class="waves-effect waves-light btn" onclick="datos_formulario2('{% url 'datos_formulario2' forms2.id %}', {{forms2.id}})"><i class="material-icons left">info</i>Ver documento</a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
            </div>
          </div>
        </div>
        <!-- Todos los f3 -->
        <div class="col s6">
          <div class="card hoverable">
            <!-- Contenido de la carta, info del f3 creado-->
            <div class="card-content">
              <!-- Titulo de la carta -->
              <span class="card-title center"><h1>F3</h1></span>
              <!-- Listado de cartas con los f3 de los alumnos -->
              <div class="container">
                {% for forms3 in todos_los_f3 %}
                  <div class="card darken-1" style="background-color: royalblue">
                    <div class="card-content white-text">
                      <span class="card-title"> {{forms3.alumno.nombre|title}} {{forms3.alumno.apellido|title}} de {{forms3.alumno.curso}}</span>
                    </div>
                    <!-- Botón que abre la modal para ver el formulario -->
                    <div class="card-action">
                      <a class="waves-effect waves-light btn" onclick="datos_formulario3('{% url 'datos_formulario3' forms3.id %}', {{forms3.id}})"><i class="material-icons left">info</i>Ver documento</a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
    <div id="modal1" class="modal">
		    <div class="modal-content">
		      <h4>Administrador de Datos Institucionales</h4>
		      <p>El proyecto ADI tiene la función de facilitar las actividades tanto de la Preceptoria como de la
					Administración de la Institución como el manejo de la asistencia y de los formularios de los alumnos
				al momento de un imprevisto, también tiene un sistema con el que el Padre/Tutor puede visualizar cuantas
			faltas tiene su hijo y poder ver si este se encuentra en la Institución</p>
		    </div>
		    <div class="modal-footer">
		      <a class="modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons prefix" style="font-size: 45px">done</i></a>
		    </div>
		  </div>
</body>
