<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <div id="chart_div"></div>
<script>

$(document).ready(function(){
  function arranca(){
      google.charts.load('current', {packages: ['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawStacked);
      function drawStacked() {
        console.log("arranca");
            var data = google.visualization.arrayToDataTable([
              ['Estado', 'Alumnos'],
              ['Presentes', data.presente],
              ['Ausentes', data.ausente],
              ['Saliendo', data.saliendo]
            ]);

            var options = {
              title: 'Alumnos',
              color: '#e0440e',
              chartArea: {width: '50%'},
              isStacked: true,
              hAxis: {
                minValue: 0,
              },
              vAxis: {
                title: 'Alumnos'
              }
            };
            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
            chart.draw(data, options);
          }
        }
    })

</script>
