<br>
<div id="presentes_para_formulario">
	{% for al in todos_los_alumnos %}
			<div class="container">
				<div class="col s1">
					<div class="card white lighten-2 z-depth-5" >
						<div class="card-content blue-text">
								<p>{{al.apellido|upper}} {{al.nombre|title}} Estado: {{al.estado}} Curso {{al.curso}}</p>
								<a onclick="mostrar_f1('{% url 'crear_f1' al.dni %}', {{al.dni}})" id="myBtn"  class="waves-effect waves-light btn blue darken-4">
									F1
								</a>
								<a onclick="mostrar_f2('{% url 'crear_f2' al.dni %}', {{al.dni}})" id="myBtn"  class="waves-effect waves-light btn blue darken-4">
									F2
								</a>
								<a onclick="mostrar_f3('{% url 'crear_f3' al.dni %}', {{al.dni}})" id="myBtn"  class="waves-effect waves-light btn blue darken-4">
									F3
								</a>
								<a onclick="mostrar_fm('{% url 'crear_fm' al.dni %}', {{al.dni}})" id="myBtn"  class="waves-effect waves-light btn blue darken-4">
									FM
								</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
</div>
