<div class="w3-modal-content w3-animate-top">
  <div class="modal-dialog modal-sm">
    <header class="w3-container w3-teal">
      <h2>Datos:</h2>
    </header>
    <div class="w3-container">
      <br>
      <center><span id ="preceptor">Apellido:{{alumno.apellido}}</span></center>
      <center><span id ="alumno">Nombre:{{alumno.nombre|upper}}</span></center>
      <center><span id ="fecha">Estado:{{alumno.estado|upper}}</span></center>
    	<br>
      <division></division>
      <select name="cars">
           <option value="volvo">F1</option>
           <option value="saab">F2</option>
           <option value="fiat">F3</option>
           <option value="audi">FM</option>
         </select>
      <division></division>

      <a onclick="crear_f2('{% url 'crear_f2' alumno.dni %}', {{alumno.dni}})" id="myBtn"  class="waves-effect waves-light btn blue darken-4">
    		F2
    	</a>
      <a onclick="crear_f3('{% url 'crear_f3' alumno.dni %}', {{alumno.dni}})" id="myBtn"  class="waves-effect waves-light btn red darken-4">
    		F3
    	</a>
      <a onclick="cerrar()" id="myBtn"  class="waves-effect waves-light btn red darken-4">
    		Cerrar
    	</a>

    </div>
  </div>
</div>
<script>

function estoy(){
  var elecc = $('#aioConceptName').find(":selected").text();
  if (elecc=="F1"){
    alert("Hola");
  }
  if (elecc=="F2") {
    crear_f2('{% url 'crear_f2' alumno.dni %}', {{alumno.dni}})
  }
  if (elecc=="F3") {
    crear_f2('{% url 'crear_f3' alumno.dni %}', {{alumno.dni}})
  }
}

</script>
