<!DOCTYPE html>
<html class="mdc-typography">
  {% load staticfiles %}
  <head>
		<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link type="text/css" href="css/ui-darkness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
    <title>F2</title>
    <link rel="stylesheet" href="{% static 'node_modules/material-components-web/dist/material-components-web.css' %}">
	</head>
	<style>
		html, body {
    	height: 100%;
		}
		html {
			display: table;
			margin: auto;
		}
		body {
			display: table-cell;
			vertical-align: middle;
		}
</style>
  <body style="background-color: whitesmoke">
    <select style="width: 280px" id="Mobility" name="Mobility">
      <option selected="">Please Select</option>
      <option>A</option>
      <option>B</option>
      <option>c</option>
    </select>
      <div class="mdc-card">
  			<section class="mdc-card__primary">
  				<h1 class="mdc-card__title mdc-card__title--large">Alumnos presentes: {{todos_los_alumnos|length}}</h1>
  			</section>
  			<section class="mdc-card__supporting-text">
          <div id = "primero">
            {% for alum in todos_los_alumnos %}
              <form id="als">
                <div class="mdc-card">
        					  <div class="container">
        		            <div class="col s6 div">
                            <div class="card yellow lighten-2 z-depth-5" >
            		            	<div class="card-content black-text">
                                <br>
            		              	<center><span class="card-title">{{alum.apellido|upper}} {{alum.nombre|upper}}</span></center>
                                <div id="segundo">
                                  <form id="hola">
                                    <a onclick="volver('{% url 'volver' alum.dni %}', {{alum.dni}})" class="waves-effect waves-light btn green darken-4">Volver</a>
                                  </form>
                                </div>
                              <div class="mdc-checkbox">
                    						<input id="check" type="checkbox" class="mdc-checkbox__native-control" onclick="retirar('{% url 'retiro_grupal' alum.dni %}', {{alum.dni}})"/>
                    						<div class="mdc-checkbox__background">
                    							<svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                    								<path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                    							</svg>
                    							<div class="mdc-checkbox__mixedmark"></div>
                    						</div>
                  						</div>
                              <div id="tercero">
                                <input type="button" value="Confirmar" style="float: right;" onClick="updateDiv()" />
                              </div>
                        </div>
        		         	</div>
        		        </div>
        	       	</div>
      				   </div>
               </form>
              {% endfor %}
  			</section>
  		</div>
    </div>
    <br>
		<br>
		<br>
		<br>

    <!--

		<div class="mdc-card">
			<section class="mdc-card__primary">
				<h1 class="mdc-card__title mdc-card__title--large">Alumnos AUTOrizados</h1>
				<h2 class="mdc-card__subtitle">listita lynda</h2>
			</section>
			<section class="mdc-card__supporting-text">
				<div class="mdc-card">
					<section class="mdc-card__supporting-text">
						<ul class="mdc-list">
  						<li class="mdc-list-item">Single-line item</li>
						</ul>
					</section>
				</div>
			</section>
		</div>

  -->
    <script src="{% static 'node_modules/material-components-web/dist/material-components-web.js' %}"></script>
    <script>mdc.autoInit()</script>
	</body>
  <script>

  ocul()

  function ocul(){
    segundo.style.visibility="hidden"
    tercero.style.visibility="hidden"
  }

  function updateDiv(){
     $( "#primero" ).load(window.location.href + " #primero" );
 }

  function retirar(url, alum) {
   //alert("soquetes");
   $.ajax({
     method: "POST",
     url: url,
     data: {
       csrfmiddlewaretoken: '{{ csrf_token }}'
     }
   })
     .done(function (msg) {
       segundo.style.visibility="visible"
       tercero.style.visibility="visible"
       //alert("La cantidad de puaj es: " + msg);
     });
 };



 function volver(url, alum) {
  //alert("soquetes");
  $.ajax({
    method: "POST",
    url: url,
    data: {
      csrfmiddlewaretoken: '{{ csrf_token }}'
    }
  })
    .done(function (msg) {
      alert("Cambiado")
      document.getElementById("check").checked = false;
      //alert("La cantidad de puaj es: " + msg);
    });
};

  </script>

</html>
