		<div id= "primero">
					{% for al in todos_los_alumnos %}
						<!-- Presentes -->
						{% if al.estado == "Presente" %}
							<div class="container">
								<div class="col s1">
									<div class="card blue lighten-2 z-depth-5" >
										<div class="card-content white-text">
												<p>{{al.apellido|upper}} {{al.nombre|title}} Estado: {{al.estado}} Curso {{al.curso}}</p>
												<a onclick="pres('{% url 'datos_alumnos' al.dni %}', {{al.dni}})" id="myBtn"  class="waves-effect waves-light btn blue darken-4">
													<i class="material-icons">info</i>
												</a>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
						<!-- Ausentes -->
						{% if al.estado == "Ausente" %}
			        <div class="container">
				        <div class="col s1">
				          <div class="card red lighten-2 z-depth-5" >
				            <div class="card-content white-text">
												<p>{{al.apellido|upper}} {{al.nombre|title}} Estado: {{al.estado}} Curso {{al.curso}}</p>
                        <a onclick="pres('{% url 'datos_alumnos' al.dni %}', {{al.dni}})" id="myBtn"  class="waves-effect waves-light btn blue darken-4">
    		              		<i class="material-icons">info</i>
    		            		</a>
				          	</div>
				          </div>
				        </div>
							</div>
						{% endif %}
						<!-- Retirados -->
						{% if al.estado == "Retirado" %}
							<div class="container">
								<div class="col s1">
									<div class="card green lighten-2 z-depth-5" >
										<div class="card-content white-text">
												<p>{{al.apellido|upper}} {{al.nombre|title}} Estado: {{al.estado}} Curso {{al.curso}}</p>
												<a onclick="pres('{% url 'datos_alumnos' al.dni %}', {{al.dni}})" id="myBtn"  class="waves-effect waves-light btn blue darken-4">
													<i class="material-icons">info</i>
												</a>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
						<!-- Indefinido -->
						{% if al.estado == "Saliendo" %}
							<div class="container">
								<div class="col s1">
									<div class="card white lighten-2 z-depth-5" >
										<div class="card-content grey-text">
												<p>{{al.apellido|upper}} {{al.nombre|title}} Estado: {{al.estado}} Curso {{al.curso}}</p>
												<a onclick="pres('{% url 'datos_alumnos' al.dni %}', {{al.dni}})" id="myBtn"  class="waves-effect waves-light btn blue darken-4">
													<i class="material-icons">info</i>
												</a>

										</div>
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
			</body>
