  <!DOCTYPE html>
  {% load static %}
  <html>
    <head>
      <style>
        division{
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #FFFF00;
            margin: 1em 0;
            padding: 0;
        }
        select option {
            margin:40px
        }
      </style>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Let browser know website is optimized for mobile-->
      <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <title>Preceptor</title>
    <script>
      $(document).ready(function(){
        $('#open_perfil').click(function(){
          $.ajax({
            method: "GET",
            url: "/mis_alumnos/",
          })
            .done(function(data){
              $("#contenido2")[0].innerHTML = data;
            });
        });
        $('#mod_alumno').click(function(){
          $.ajax({
            method: "GET",
            url: "/traer_alumnos/",
          })
            .done(function(data){
              $("#contenido2")[0].innerHTML = data;
            });
        });
        $('#open_cf').click(function(){
          $.ajax({
            method: "GET",
            url: "/mis_alumnos_presentes/",
          })
            .done(function(data){
              $("#contenido2")[0].innerHTML = data;
            });
        });
        $('#ver_formularios').click(function(){
          $.ajax({
            method: "GET",
            url: "/mis_formularios/",
          })
            .done(function(data){
              $("#contenido2")[0].innerHTML = data;
            });
        });
      });
    </script>
    </head>
	<!--Esto es una referencia para usar los iconos de materialize-->
	<!--            <i class="material-icons"></i>                -->
    <body>
	  <nav class="nav-extended" style="background-color:#212121">
  		<div class="nav-wrapper">
  			<!-- Poner el nombre del preceptor actual al lado del Logo con los tags de Django-->
  			<a href="#" class="brand-logo center">Preceptor {{user|upper}} </a>
  			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
  			<ul id="nav-mobile" class="right hide-on-med-and-down">
  			<li><a href="{% url 'logout_p' %}">Cerrar sesion</a></li>
  			</ul>
  			<ul class="side-nav" id="mobile-demo">
  			<li><a href="#Desloguearse">Cerrar sesion</a></li>
  			</ul>
  		</div>
  		<div class="nav-content">
  			<ul class="tabs tabs-transparent">
  			   <li class="tab"><a class="active" href="#alumnos">Alumnado</a></li>
  			   <li class="tab"><a href="#formularios">Formularios</a></li>
  			</ul>
  		</div>
	  </nav>
	  <!-- Contenido del TAB Alumnos -->
	  <div id="alumnos" class="col s12">
		<nav class="nav-extended" style="background-color:#212121">
			<div class="nav-wrapper">
				<!-- Poner el nombre del preceptor actual al lado del Logo con los tags de Django-->
				<a href="#" class="brand-logo">Alumnos</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			</div>
			<div class="nav-content">
				<ul class="tabs tabs-transparent">
          <li class="tab"><a id="abrir_perfil" href="#perfiles">Ayuda</a></li>
          <li class="tab"><a id="open_perfil" href="#perfiles">Estado Alumnos</a></li>
				</ul>
			</div>
    </nav>
	  </div>

	  <!-- Contenido del TAB Formularios -->
	  <div id="formularios" class="col s12">
		<nav class="nav-extended" style="background-color:#212121;height:25%;">
			<div class="nav-wrapper">
				<!-- Poner el nombre del preceptor actual al lado del Logo con los tags de Django-->
				<center><a href="#" id="formularios" class="brand-logo">Formularios</a></center>
			</div>
			<div class="nav-content">
				<ul class="tabs tabs-transparent">
          <li class="tab"><a id="open_cf" href="#f1">Crear Formulario</a></li>
					<li class="tab"><a id="ver_formularios" href="#f1">Ver Formularios</a></li>
          <li class="tab"><a id="mod_alumno" href="#perfiles">Modificar Alumnos</a></li>
				</ul>
			</div>
	    </nav>

    <div id="contenido"></div>
    <div id="contenido2"></div>

    <div id="id01" class="w3-modal">
    	<div class="modal-dialog modal-sm" id="datos">
    	</div>
    </div>

    <div id="piechart"></div>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript">
  // Load google charts
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  // Draw the chart and set the chart values
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
    ['Task', 'Hours per Day'],
    ['Work', 8],
    ['Eat', 2],
    ['TV', 4],
    ['Gym', 2],
    ['Sleep', 8]
  ]);

    // Optional; add a title and set the width and height of the chart
    var options = {'title':'My Average Day', 'width':550, 'height':400};

    // Display the chart inside the <div> element with id="piechart"
    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    chart.draw(data, options);
  }
  </script>

    </body>
    <script type="text/javascript">

    function alumnos_presentes(){
      $( "#alumnos_presentes" ).load(window.location.href + " #alumnos_presentes" );
    }

        function traer(url, alum) {
         //alert("soquetes");
         $.ajax({
           method: "POST",
           url: url,
           data: {
             csrfmiddlewaretoken: '{{ csrf_token }}'
           }
         })
           .done(function (data) {
              $("#datos").html(data);
              document.getElementById('id01').style.display='block';
           });
       };

       function cerrar() {
           var modal = document.getElementById('id01');
           modal.style.display = "none";
         }

      function pres(url, alum) {
  		 //alert("soquetes");
  		 $.ajax({
  			 method: "POST",
  			 url: url,
  			 data: {
  				 csrfmiddlewaretoken: '{{ csrf_token }}'
  			 }
  		 })
  			 .done(function (data) {
  				 	$("#datos").html(data);
  					document.getElementById('id01').style.display='block';
  			 });
  	 };

     function crear_f2(url, alum) {
      $.ajax({
        method: "POST",
        url: url,
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}'
        }
      })
        .done(function (data) {
           id01.style.visibility = "hidden"
           Materialize.toast("Formulario Creado", 1000, 'blue')
           alumnos_presentes()
        });
    };

    function crear_f3(url, alum) {
     $.ajax({
       method: "POST",
       url: url,
       data: {
         csrfmiddlewaretoken: '{{ csrf_token }}'
       }
     })
       .done(function (data) {
          id01.style.visibility = "hidden"
          Materialize.toast("Formulario Creado", 1000, 'green')
          alumnos_presentes()
       });
   };

	   </script>
  </html>
