<html>

<head>
	{% load static %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

		<body bgcolor="orange">
			<br><br>
				<div id= "primero">
					{% for forms2 in todos_los_f2 %}
						<div class="container">
				       <div class="col s1">
				         <div class="card green lighten-2 z-depth-5" >
									<div <div style="color:#0000cc">
	           				<center><span class="card-title">F2</span></center>
	          			</div>
				           <div class="card-content black-text">
											<center><p>{{forms2.alumno.apellido|upper}} {{forms2.alumno.nombre}} - Curso: {{forms2.alumno.curso}}</p></center>
											<a onclick="aceptar_f2('{% url 'aceptar_formulario' forms2.id %}', {{forms2.id}})" id="myBtn"  class="waves-effect waves-light btn green darken-4">
    		             		<i class="material-icons">thumb_up</i>
    		           		</a>
                      <a onclick="datos_f2('{% url 'datos_formulario' forms2.id %}', {{forms2.id}})" id="myBtn"  class="waves-effect waves-light btn blue darken-4">
    		             		<i class="material-icons">info</i>
    		           		</a>
											<a onclick="rechazar_f2('{% url 'rechazar_formulario' forms2.id %}', {{forms2.id}})" id="myBtn"  class="waves-effect waves-light btn red darken-4">
    		             		<i class="material-icons">thumb_down</i>
    		           		</a>
				         	</div>
				         </div>
				       </div>
						</div>
					{% endfor %}
				</div>

        <div id= "segundo">
					{% for forms3 in todos_los_f3 %}
						<div class="container">
				       <div class="col s1">
				         <div class="card green lighten-2 z-depth-5" >
									<div <div style="color:#0000cc">
	           				<center><span class="card-title">F3</span></center>
	          			</div>
				           <div class="card-content white-text">
											<center><p>{{forms3.id}} - {{forms3.alumno}} Estado: {{forms3.estado}}</p></center>
											<a onclick="aceptar_f3('{% url 'aceptar_formulario' forms3.id %}', {{forms3.id}})" id="myBtn"  class="waves-effect waves-light btn green darken-4">
    		             		<i class="material-icons">thumb_up</i>
    		           		</a>
                      <a onclick="datos_f3('{% url 'datos_formulario' forms3.id %}', {{forms3.id}})" id="myBtn"  class="waves-effect waves-light btn blue darken-4">
    		             		<i class="material-icons">info</i>
    		           		</a>
											<a onclick="rechazar_f3('{% url 'rechazar_formulario' forms3.id %}', {{forms3.id}})" id="myBtn"  class="waves-effect waves-light btn red darken-4">
    		             		<i class="material-icons">thumb_down</i>
    		           		</a>
				         	</div>
				         </div>
				       </div>
						</div>
		    	{% endfor %}
				</div>

				<div id="id01" class="w3-modal">
					<div class="w3-modal-content" id="datos">
					</div>
				</div>

			</body>
</html>
