<!--
<html>
<head>
	{% load static %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js">

    </script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>

<body bgcolor="orange">

	<br><br>
        {% for alum in todos_los_alumnos %}
					  <div class="container">
		            <div class="col s6 div">
		              <div class="card yellow lighten-2 z-depth-5" >
		            	<div class="card-content black-text">
		              	<center><span class="card-title">{{alum.nombre}}</span></center>
		              	<div class="card-action green lighten-3 z-depth-2">
                      <br>
		              			<center><p>{{alum.dni}}</p></center>
		              			<br>
												&nbsp;&nbsp;&nbsp;
			  								<center>
											</div>
		            	</div>
		          	</div>
		        	</div>
	       	</div>
      {% endfor %}
    </body>

</html>
-->
<!DOCTYPE html>
<html class="mdc-typography">
  {% load staticfiles %}
  <head>
		<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <title>F2</title>
    <link rel="stylesheet" href="{% static 'node_modules/material-components-web/dist/material-components-web.css' %}">
	</head>
	<style>
		html, body {
    	height: 100%;
		}
		html {
			display: table;
			margin: auto;
		}
		body {
			display: table-cell;
			vertical-align: middle;
		}
</style>
  <body style="background-color: whitesmoke">
		<div class="mdc-card">
			<section class="mdc-card__primary">
				<h1 class="mdc-card__title mdc-card__title--large">Alumnos presentes hoy</h1>
				<h2 class="mdc-card__subtitle">Seleccione xd</h2>
			</section>
			<section class="mdc-card__supporting-text">
        {% for alum in todos_los_alumnos %}
          <div class="mdc-card">
  					  <div class="container">
  		            <div class="col s6 div">
  		              <div class="card yellow lighten-2 z-depth-5" >
  		            	<div class="card-content black-text">
                      <br>
  		              	<center><span class="card-title">{{alum.nombre}}</span></center>
  		              	<div class="card-action green lighten-3 z-depth-2">
                        <br>
  		             			<center><p>{{alum.dni}}</p></center>
  		            			<br>
  											&nbsp;&nbsp;&nbsp;
  			  							<center>
  										</div>
                      <div class="mdc-checkbox">
          							<input type="checkbox"
          										class="mdc-checkbox__native-control"/>
          							<div class="mdc-checkbox__background">
          								<svg class="mdc-checkbox__checkmark"
          										viewBox="0 0 24 24">
          									<path class="mdc-checkbox__checkmark__path"
          												fill="none"
          												stroke="white"
          												d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
          								</svg>
          								<div class="mdc-checkbox__mixedmark"></div>
          							</div>
          						</div>
  		          	</div>
  		         	</div>
  		        </div>
  	       	</div>
				   </div>
          {% endfor %}
			</section>
		</div>
		<br>
		<br>
		<button class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple" style="background-color:#333638;color:white;">
						-->
		</button>
		<br>
		<br>
		<button class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple" style="background-color:#333638;color:white;">
						<--
		</button>
		<br>
		<br>

		<div class="mdc-card">
			<section class="mdc-card__primary">
				<h1 class="mdc-card__title mdc-card__title--large">Alumnos AUTOrizados</h1>
				<h2 class="mdc-card__subtitle">listita lynda</h2>
			</section>
			<section class="mdc-card__supporting-text">
				<div class="mdc-card">
					<section class="mdc-card__supporting-text">
						<ul class="mdc-list">
  						<li class="mdc-list-item">Single-line item</li>
						</ul>
					</section>
				</div>
			</section>
		</div>
    <script src="{% static 'node_modules/material-components-web/dist/material-components-web.js' %}"></script>
    <script>mdc.autoInit()</script>
	</body>
</html>
