<html>

<head>
	{% load static %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

		<body bgcolor="orange">
			<br><br>
				<div id= "primero">
					{% for f2 in todos_los_f2 %}
			        <div class="container">
				        <div class="col s1">
				          <div class="card pink lighten-2 z-depth-5" >
				            <div class="card-content black-text">
				              <div class="card-action light-blue lighten-3 z-depth-2">
												<p>{{f2.alumno.apellido|upper}} {{f2.alumno.nombre|title}} Hora: {{f2.fecha}}</p>
				              </div>
				          	</div>
										<a onclick="aceptar('{% url 'aceptar' f2.id %}', {{f2.id}})" class="waves-effect waves-light btn green darken-4">
		              		<i class="material-icons">thumb_up</i>
		            		</a>
										<a onclick="inf()" id="myBtn"  class="waves-effect waves-light btn blue darken-4">
		              		<i class="material-icons">info</i>
		            		</a>
				          	</div>
				          		</div>
									</div>
			         	</div>
			    		</div>
		    	{% endfor %}
				</div>

				<button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Open Modal</button>

					<div id="id01" class="w3-modal">
    				<div class="w3-modal-content">
      				<header class="w3-container w3-teal">
        				<span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        				<h2>Modal Header</h2>
      				</header>
      				<div class="w3-container">
        				<p id ="nada"></p>
        				<p>Some text..</p>
      				</div>
      				<footer class="w3-container w3-teal">
        				<p>Modal Footer</p>
      				</footer>
    					</div>
  				</div>

			</body>
		<script type="text/javascript">

		function updateDiv(){
	     $( "#primero" ).load(window.location.href + " #primero" );
	 }


		function aceptar(url, tweet) {
     $.ajax({
       method: "POST",
       url: url,
       data: {
         csrfmiddlewaretoken: '{{ csrf_token }}'
       }
     })
       .done(function (msg) {
				 updateDiv()
       });
   };
		</script>
</html>
