<!DOCTYPE html>

<html>

	{% load static %}

<head>

	<!-- permite cracteres tales como la ñ -->
	<meta charset="UTF-8"

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js">

    </script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">


<style>
		body {
		    margin: 0;
		}


		 #b1{
  			position: relative;
  			top: -0px;
  			left: 90px;
		}

		#titulo {
    		font-family: bold;
    		text-decoration: underline;
  		}

</style>

<title>Inicio sesion</title>

</head>

<body style="background-color: whitesmoke">

<div style="margin-left:15%; margin-right:15%; margin-top:4%; padding:10px 200px; height:100px;">
	<div class="container">
	    <div class="col s12">
	      <div class="card whitesmoke z-depth-4" >
	        <div class="card-content black-text">
	          <div <div style="color:#0000cc">
							<form href = "/" method="POST">
	            <center><span id="titulo" class="card-title black-text">INICIO SESIÓN</span></center>
	          </div>
        			<div class="input-field col s1">
        			  <i class="material-icons prefix">person</i>
        			  <input name="username" id="icon_prefix" type="text" class="validate">
        			  <label for="icon_prefix">Usuario</label>
        			</div>
    			  	<div class="input-field col s2">
        			  <i class="material-icons prefix"></i>
        			  <input name="password" id="icon_telephone" type="password" minlength="5" maxlength="16" class="validate">
        			  <label for="icon_telephone">Contraseña</label>
        			</div>
							<button id="b1" class="btn waves-effect waves-light" type="submit" name="action"
							>Iniciar<i class="material-icons right">send</i></button>
		          {% csrf_token %}
						</form>
    				<br>
    				<br>
	        </div>
	      </div>
	    </div>
	  </div>
</div>

</body>
</html>
