<!DOCTYPE html>
{% load static  %}
<html class="mdc-typography">
  <head>
		<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <title>Preceptor</title>
		<link rel="stylesheet" href="{% static 'node_modules/material-components-web/dis/material-components-web.css' %}">
		<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
		<script>
			$(document).ready(function(){
	    		$('#formulario2').click(function(){
	       		$("#contenido").load("F2.html");
	    		});

	    		$('#formulario3').click(function(){
	       		$("#contenido").load("F3.html");
	    		});

	    		$('#modificar_alumno').click(function(){
	       		$("#contenido").load("modificar_alumno.html");
	    		});
          
					$('#cargar_alumno').click(function(){
	       		$("#contenido").load("cargar_alumno.html");
	    		});
			});
	</script>
	</head>
  <body style="background-color: whitesmoke" onload="startTime()">
		<nav id="basic-tab-bar" class="mdc-tab-bar">
			<a class="mdc-tab mdc-tab--active" href="/" id="main">Principal</a>
      <span id="txt"></span>
			<a class="mdc-tab" href="#Cargar_Alumno" id="cargar_alumno">Cargar alumno</a>
			<a class="mdc-tab" href="#Modificar_Alumno" id="modificar_alumno">Modificar alumno</a>
			<a class="mdc-tab" href="#AUTORIZACIÓN_PARA_RETIRO_ANTICIPADO_IMPREVISTO_POR_CAUSAS_INSTITUCIONALES" id="formulario2">Formulario 2</a>
			<a class="mdc-tab" href="#AUTORIZACIÓN_PARA_RETIRO_ANTICIPADO_POR_RAZONES_PERSONALES" id="formulario3">Formulario 3</a>
      <!--<a class="mdc-tab" href="mis_Alumnos" id="mis_alumnos">Mis Alumnos</a>-->
			<a class="mdc-tab" href="logged_out.html" id="cerrar_sesion">Cerrar sesión</a>
			<span class="mdc-tab-bar__indicator"></span>
		</nav>
		<div id="contenido"></div>
		<p style="text-align: center;font-size: 75%;">by Javier Pugliese</p>
    <script src="{% static 'node_modules/material-components-web/dist/material-components-web.js' %}"></script>
    <script>mdc.autoInit()</script>
	</body>
  <script>



  function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('txt').innerHTML =
    h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 500);
  }
  function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
  }

  </script>
</html>
