<div class="w3-modal-content w3-animate-top">
    <div class="modal-header">
        <h4 class="modal-title">Modal Header</h4>
    </div>
    <form id="datos">
      <div class="modal-body">
          <span>{{alumno.nombre}}</span><input type="text" class="mdc-textfield__input" id="nombre" maxlength="20" name="nombre">
          <span>{{alumno.apellido}}</span><input type="text" class="mdc-textfield__input" id="apellido" maxlength="20" name="apellido">

	        </div>
        <button onclick="cerrar()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button onclick="mod_alumno('{% url 'mod_alumno' alumno.dni %}', {{alumno.dni}})" type="button" class="btn btn-default" data-dismiss="modal">Modificar</button>
    </form>


</div>

<script>

function mod_alumno(url, alum) {
   var form = document.getElementById("datos");
   var formData = new FormData(form);
   $.ajax({
     method: "POST",
     url: url,
     data: {
       csrfmiddlewaretoken: '{{ csrf_token }}'
     }
   })
     .done(function (data) {
       Materialize.toast(data.estado, 4000, 'green')
   });
};

</script>
